

*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Josefin Sans',sans-serif;
  }
  header{
    
    
      background-image: url(bg.jpg);
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: top;
     -webkit-background-size: cover;
     -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;

     
      
      
    }
  
  nav{
    width:100%;
    height:20vh;
    background:rgba(0,0,0,0.2);
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    text-transform:uppercase;
    
  }
  
  nav .logo{
    width:25%;
    text-align:center;
    
  }
  
  nav .menu{
    width:50%;
    display:flex;
    justify-content:space-around;
    
  }
  
  nav .menu a{
    
    display:block;
    padding: 5px;
    text-decoration:none;
    color:white;
    font-weight:bold;
    font-size: 20px;
  }
 
 
  .active{
  background:blue;
  }

  a.middle
{
    position: relative;
}

a.middle:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
a.middle:hover:before {
  visibility: visible;
  transform: scaleX(1);
  
}
  
  
  main{
    width:100%;
    height:85vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
  }
  
  
  
  section h3{
    font-size:35px;
    font-weight:200;
    letter-spacing:3px;
    text-shadow:1px 1px 2px black;
  }
  
  section h1{
    margin:30px 0 20px 0;
    font-size:55px;
    font-weight:700px;
    text-shadow:2px 1px 5px black;
    text-transform:uppercase;
  }
  
  section p{
    font-size:25px;
    word-spacing:2px;
    margin-bottom:25px;
    text-shadow:1px 1px 1px black;
  }
  
  section a{
    padding:12px 30px;
    border-radius:4px;
    outline:none;
    text-transform:uppercase;
    font-size:13px;
    font-weight:500;
    text-decoration:none;
    letter-spacing:1px;
    transition:all .5s ease;
  }
  
  section .btnone{
    background:#fff;
    color:#000;
  }
  
  .btnone:hover{
    background:#00b894;
    color:white;
  }
  
  section .btntwo{
    background:#00b894;
    color:white;
  }
  
  .btntwo:hover{
    background:#fff;
    color:#000;
  }
  
  .change_content:after{
    content:'';
    animation:changetext 10s infinite linear;
    color:#00b894;
  }
  
  @keyframes changetext{
    0%{content:"Darjeeling";}
    20%{content:"Agra";}
    35%{content:"Jaipur";}
    60%{content:"Kerala";}
    80%{content:"Delhi";}
    100%{content:"Mumbai";}
  }

  /* dropdown*/
  .dropbtn {
    
    color:white;
    background-color:transparent;
    padding: 16px;
    font-size: 16px;
    border:black;
    cursor: pointer;
  }
 
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    
    background-color:blue;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color:orange;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color:grey}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    color:orange;
  }

  
  .info{
    justify-content:space-evenly;
    padding: 45px;
    font-size:25px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  

  .ca:hover{
    opacity: 0.7;
  }
div ul li a{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  color: black;
}

  
  @media only screen and (max-width:500px){
    main{
        margin-left: 0px;
    }
    section h3{
      font-size:15px;
      font-weight:200;
      letter-spacing:2px;
      text-shadow:1px 1px 2px black;
    }
    
    section h1{
      margin:15px 0 10px 0;
      font-size:20px;
      font-weight:700px;
      text-shadow:2px 1px 5px black;
      text-transform:uppercase;
    }
    
    section p{
      font-size:15px;
      word-spacing:2px;
      margin-bottom:15px;
      text-shadow:1px 1px 1px black;
    }
    
    section a{
      padding:12px 10px;
      border-radius:4px;
      outline:none;
      text-transform:uppercase;
      font-size:13px;
      font-weight:500;
      text-decoration:none;
      letter-spacing:1px;
      transition:all .5s ease;
    }
    nav{
      width:100%;
      height:30vh;
      background:rgba(0,0,0,0.2);
      color:white;
      
      
      justify-content:space-between;
      align-items:center;
      text-transform:uppercase;
      
    }
    nav .menu{
      width:50%;
      display:flex;
      flex-direction: column;
      justify-content:space-around;
      
    }
    nav .menu a{
    
      display:block;
      padding: 5px;
      text-decoration:none;
      color:white;
      font-weight:bold;
    
      font-size: 10px;
    }

    .dropbtn {
    
      color:white;
      background-color:transparent;
      padding: 5px;
      font-size: 10px;
      border:black;
      cursor: pointer;
    }
   
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      
      background-color:blue;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      color:orange;
      padding: 5px ;
      text-decoration: none;
      display: block;
    }
}